@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inter font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
  }

header {
    padding-top: 1px;
}

nav {
    display: flex;
    background-color: #ededed;
    width: 100dvw;
    height: 10dvh;
    justify-content: center;
}

.Imagem {
    display: flex;
    justify-content: flex-end;
    height: 89.8dvh;
}

.Container-login {
    display: flex;
    position: absolute;
    width: 46.3dvw;
    height: 85.9dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container-login h1 {
    font-family: inter;
    font-size: 57px;
}

.Container-login p {
    font-family: inter;
    font-size: 24px;
    padding-bottom: 14dvh;
}

.Container-login a{
    display: flex;
    margin-top: 3dvh;
    font-family: inter;
    font-size: 27px;
    background-color: #54A2A7;
    width: 25dvw;
    height: 7dvh;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.elemento-visual{
    position: absolute;
    display: flex;
    bottom: 0dvh;
}


