* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.toda-tela-inicial-content {
    /* border: 1px solid red; */

    width: 100%;
    height: 120vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.navbar-tela-inicio {
    /* border: 1px solid green; */

    width: 100%;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #EDEDED;
    ;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.topicos-nav-content {
    /* border: 1px solid blue; */

    width: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.topicos-nav-content a {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;

    color: #000000;
}

.area-principal-tela-inicio-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 110vh;

    background-color: #FFFFFF;
}

.parte-superior-content {
    /* border: 1px solid yellow; */

    width: 100%;
    height: 41%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.parte-superior-content img {
    width: 98%;
    height: 86%;
    object-fit: contain;
    border-radius: 20px;
}

.parte-inferior-content {
    /* border: 1px solid red; */

    width: 100%;
    height: 60%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.parte-esquerda-tela-inicio-content {
    /* border: 1px solid blue; */

    width: 45%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parte-direita-tela-inicio-content {
    /* border: 1px solid green; */

    width: 55%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    gap: 8px;
}

.titulo-modulos {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
    font-style: italic;
    color: #181717;
}

.grupo-cards-horarios-content {
    /* border: 1px solid purple; */

    width: 90%;
    height: 70%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card-horario-content {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.card-horario-content:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.card-horario-content p {
       font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 30px;
    font-style: normal;
    color: #181717;
}

.card-img-content {
    position: relative;
    width: 100%;
    height: 140px;
    overflow: hidden;
}

.card-img-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-icon img {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.card-titulo {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
    padding: 1.2rem 1rem 1rem 1rem;
    margin: 0;
}